/* Backgrounds */

.fondoInicial{
    background-image: url('imagenes/inicial.png');
    height: 50vh;
    background-position: center;
    background-size: cover;

    background-color: rgba(0,0,0,1);
    filter:brightness(1);
}

.fondoGirl{
    background-image: url('imagenes/girl.jpg');
    height: 50vh;
    background-position-y: -250px;
    background-size: cover;

    background-color: rgba(0,0,0,1);
    filter:brightness(1);
}

.fondoGirlDos{
    background-image: url('imagenes/girl.jpg');
    height: 25vh;
    background-position-y: -1000px;
    background-size: cover;
}

.fondoBible{
    background-image: url('imagenes/jardin3.jpg');
    height: 25vh;
    background-position: top;
    background-size: cover;
}

.fondoBibleDos{
    background-image: url('imagenes/jardin3.jpg');
    height: 25vh;
    background-position-y: -750px;
    background-size: cover;
}