/* Estilos de texto */

.texto{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto-btn{
    font-size: 20px;
}

.primary{
    color: #007bff;
}

.titulos{
    font-family: 'Roboto', sans-serif;
    font-size: 50px !important;
    text-shadow: 1px 1px 1px black;
}

.shadowTitulo{
    text-shadow: 2px 2px 2px black;
}

.padd{
    padding-top: 7rem;
}

body {font-size: 100%}

h1 {font-size: 5em;}

@media screen and (max-width: 64em) {
h1 {
    font-size: 4em;
  }
}

@media screen and (max-width: 50em) {
h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 30em){
h1 {
    font-size: 1.5em;
    padding-top: 60px;
  }
h2 {
    font-size: 1.5em;
}
}

.linea-azul{
    border: 1px solid blue;
}
@media screen and (min-width: 30em){
    .ajusteResponsive {
        height: 75%;
        }
    }

@media screen and (max-width: 30em){
    .ajusteResponsive {
        height: 25%;
      }
    }

